*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing:border-box;
    font-size: 62.5%;
}
#img {

    width: 100%;
    height: 300px;
    opacity: .9;
}
#grad1 {
    background-image: linear-gradient(to right, rgb(0, 0, 0, 1), rgb(255, 255, 255, 0), rgb(0, 0, 0, 1))
    
}

.container {
    padding: 2px 16px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 50px;
    width: auto;
    
}