*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing:border-box;
    font-size: 62.5%;
}
img {
    max-width: 100%;
}
#grad1 {
    background-image: linear-gradient(to right, rgb(0, 0, 0, 1), rgb(255, 255, 255, 0), rgb(0, 0, 0, 1))
    
}



.container {
    display: flex;
    flex-wrap: wrap;
}
.card {
    margin: 2rem;
    width: 35rem;
    border-radius: 5px;
    box-shadow: 2px 2px 6px;
    
}
.product_image{
   object-fit: cover;
   padding: 1rem;
}
