*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
footer {
    height: 100px;
    width: auto;
    background-color: #bf7631;
}
html {
    box-sizing:border-box;
    font-size: 62.5%;
}
img {
    max-width: 100%;
}
#grad1 {
    background-image: linear-gradient(to right, rgb(0, 0, 0, 1), rgb(255, 255, 255, 0), rgb(0, 0, 0, 1))
    
}


.nav{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 100px;
}
.mag-glass{
    height: 30px;
    width: auto;
}
.nav_bar_padding {
    font-size: x-large;
    padding-right: 50px;
    list-style-type: none;
    
}

.center_logo{
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
}

.container {
    display: flex;
    flex-wrap: wrap;
}
.card {
    margin: 2rem;
    width: 35rem;
    border-radius: 5px;
    box-shadow: 2px 2px 6px;
    
}
.product_image{
   object-fit: cover;
   padding: 1rem;
}
.flex_align {
    align-items: center;
    text-align: center;
    
    
}
.title_float_left{
    float: left;
}
.title_float_right {
    float:right
}
#img {
    background-image: url(./assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg);
    height: 400px;
    width: 100%;
    background-size: cover;
    padding-top: 100px;
}